*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: radial-gradient(rgb(222, 231, 240),#0042AA);
    color: white;
}
.photos{
    justify-content: center;
    text-align: center;
}
.slide{
    height: 60%;
    width: 70%;
    margin: 0% auto 0% auto;
}
.heading{
    margin: 3%;
    display: block;
    font-family: 'Merriweather', serif;
}
.head{
    justify-content: center;
    text-align: center;
}
.firstHeading{
    margin: 4% auto;
    font-family: 'Alkatra', cursive;
}
.description{
    /* justify-content: center; */
    text-align: center;
}
.skill{
    display: inline;
    text-align: center;
    margin: 2%;
}
.courseInfoHead{
    margin-bottom: 2%;
}

.bRad{
    border-radius: 3%;
}

.contact{
    text-align: center;
}
